header {
    height: 74px;
    margin: 0 auto;
    background: #ffffff;
    font-family: Georgia, Times, 'Times New Roman', serif;
    border-bottom: #cccccc solid 2px;
}

h1 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: #4aaaa5;
}

.logo {
    float: left;
    background: #4aaaa5;
    padding: 20px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

nav {
    float: right;
    padding: 20px;
}

.container, footer {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

img {
    float: left;
    margin-right: 10px
}

.container {
    clear: both;
    width: 960px;
    margin: 0 auto;
}